
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(1, 1, 34);
  color: white;
}

.topnav {
  background-color: rgb(3, 3, 53);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

.leftsection h1 {
  font-size: 30px;
  font-weight: 700;
  color: white;
}

.leftsection h1 span {
  color: yellow;
}

.topnav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 700;
  transition: background 0.3s, color 0.3s;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  padding: 10px 15px;
  border-radius: 5px;
}

.projects-section {
  padding: 50px 20px;
  max-width: 900px;
  margin: auto;
}

.project-card {
  background-color: #202040;
  border-radius: 10px;
  padding: 25px;
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.project-card h2 {
  font-size: 30px;
  color: #6be4d0;
  margin-bottom: 15px;
}

.project-card p {
  line-height: 1.6;
  font-size: 18px;
}

.project-card video {
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .topnav {
    flex-direction: column;
    align-items: flex-start;
  }

  .topnav a {
    margin: 10px 0;
  }

  .leftsection h1 {
    margin-bottom: 10px;
  }
}
