* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(1, 1, 34);
    color: white;
  }

  .topnav {
    background-color: rgb(3, 3, 53);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
  }

  .leftsection h1 {
    font-size: 30px;
    font-weight: 700;
  }

  .topnav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 700;
    transition: 0.3s;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .profile-img img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid white;
    margin-top: 135px;
  }

  .info-text {
    flex: 1;
    min-width: 300px;
    padding: 20px;
  }

  .info-text h1 {
    font-size: 40px;
    line-height: 1.4;
  }

  .info-text span {
    color: yellow;
  }
  .highlight {
color: yellow;
}
p{
color: yellow;
}


  
  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .topnav {
      flex-direction: column;
      padding: 15px;
    }

    .topnav a {
      margin: 10px 0;
    }

    .info-text h1 {
      font-size: 28px;
    }
  }